<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--       xsi:schemaLocation="http://www.springframework.org/schema/beans-->
<!--       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd-->
<!--&gt;-->

<!--    &lt;!&ndash;  This is Database Configuration &ndash;&gt;-->
<!--    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
<!--        <property name="driverClassName">-->
<!--            <value>org.mariadb.jdbc.Driver</value>-->
<!--        </property>-->
<!--        <property name="url">-->
<!--            <value>jdbc:mariadb://localhost:3306/chinese_checkers</value>-->
<!--        </property>-->
<!--        <property name="username">-->
<!--            <value>chinese_checkers_connector</value>-->
<!--        </property>-->
<!--        <property name="password">-->
<!--            <value>connector</value>-->
<!--        </property>-->
<!--    </bean>-->

<!--    <bean id="hibernateSessionFactory"-->
<!--          class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">-->
<!--        <property name="dataSource" ref="dataSource"/>-->
<!--        <property name="annotatedClasses">-->
<!--            <list>-->
<!--                <value>db.GamesEntity</value>-->
<!--                <value>db.MovesEntity</value>-->
<!--            </list>-->
<!--        </property>-->
<!--        <property name="hibernateProperties">-->
<!--            <props>-->
<!--                <prop key="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</prop>-->
<!--                <prop key="hibernate.show_sql">true</prop>-->
<!--            </props>-->
<!--        </property>-->
<!--    </bean>-->

<!--    <bean id="DAO" class="db.DAO">-->
<!--        <property name="sessionFactory" ref="hibernateSessionFactory"/>-->
<!--    </bean>-->

<!--</beans>-->