* {
    -pref-width: 150px;
}

VBox {
    -fx-padding: 10;
    -fx-spacing: 10;
}

Label {
    -fx-pref-width: -pref-width;
    -fx-alignment: CENTER;
    /*-fx-content-display: CENTER;*/
    /*-fx-text-alignment: CENTER;*/
}